*.iml
.gradle
/local.properties
/.idea/caches
/.idea/modules.xml
/.idea/workspace.xml
/.idea/libraries
/.idea/shelf/
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/release
app/release/
app/build/